* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.recherche {
    margin: 5%;
    width: 48px;
    height: 48px;
}

.bouton_consu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    border-radius: 50px;
    float: right;
    margin: 5%;
    width: 176px;
    height: 44px;
}

.bouton_consu:hover {
    background-color: #755CDE;
}

.Text {
    display: flex;
    flex-direction: column;
}

.p1 {
    margin: -50px 0 0 45px;
    color: #7A746E;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 285px;
    height: 64px;
    display: flex;   
}

#text1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

#text2 {
    margin: 5% 0 0 45px;
    color: #7A746E;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 295px;
    height: 104px;
}

.blocks {
    margin-left: 10px;
    margin-top: 0;
    padding: 5px;
    width: 350px;
    height: 1164px;
    display: flex;
    flex-direction: column;
}

#block1 {
    padding: 10px;
    background-color: #755CDE;
    width: 343px;
    height: 364px;
    border-radius: 5px;

}

#pattern1 {
    float: right;
    margin: 24px;
}

#text3 {
    width: 200px;
    margin-left: 5%;
    margin-top: 95%;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 26px;
    color: #ffffff;
}

#blocks2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#block2 {
    margin-top: 20px;
    margin-right: 0;
    background-color: #F6A560;
    width: 164px;
    height: 182px;
    border-radius: 5px;
}

#ui {
    float: right;
    margin: 24px;
}

#ux {
    width: 90px;
    height: 30px;
    margin-top: 0;
    margin-left: 15px;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

#block3 {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #F39E9E;
    width: 164px;
    height: 182px;
    border-radius: 5px;
}

#apps {
    float: right;
    margin: 24px;
}

#app {
    margin: 15px;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

#block4 {
    margin-top: 5%;
    background-color: #EB7565;
    width: 343px;
    height: 15%;
    border-radius: 5px;
}

#illustration {
    float: right;
    margin: 24px;
}

#illustrations {
    margin: 15px;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

#block5 {
    margin-top: 16px;
    background-color: #61C4B7;
    width: 343px;
    height: 182px;
    border-radius: 5px;
}

#Photography {
    float: right;
    margin: 24px;
}

#Photographys {
    margin-top: 120px;
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

#block6 {
    background-color: #552049;
    width: 343px;
    height: 182px;
    border-radius: 5px;
    margin-top: 16px;
}

#Motion {
    float: right;
    margin: 24px;
}

#Graphic {
    margin: 15px;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

#amy {
    width: 300px;
    height: 300px;
}

#text4 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

#text5 {
    color: #7A746E;
    font-weight: 550;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}

#text6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    color: #FFF7F0;
    background: #EB7565;
    border-radius: 30px;
}

#text7 {
    font-size: 30px;
    width: 150px;
    height: 30px;
}

.container {
    margin-top: 1100px;
    width: 370px;
    height: 200px;
}

.container img {
    width: 360px;
    border-bottom: 100px;
    z-index: -2;
}

button {
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

#right-btn {
    z-index: 0;
    margin: auto 0 auto -2em;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

#left-btn .arrow {
    transform: rotate(135deg);
}

#block7 {
    width: 359px;
    height: 322px;
    background-color: #000;
    margin-top: 50%;
    border-radius: 10px;
}

#text9 {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

#text8 {
    margin: 0;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 25px;
}

#text10 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    color: #FFF7F0;
    background: #EB7565;
    border-radius: 30px;
    text-decoration: none;
}